.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  color: #203080;
  border: 1.4px solid;
  padding: 32px 20px;
  text-align: center;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-height: 380px;
}

.grid :first-child,
.grid :nth-child(3n + 1) {
  border-left: none;
}

.grid :nth-child(3n) {
  border-right: none;
}

.grid> :nth-child(-n + 3) {
  border-top: none;
}

.grid> :nth-last-child(-n + 3) {
  border-bottom: none;
}

.icon {
  font-size: 48px;
  margin-bottom: 10px;
  color: #203080;
}

.title {
  color: #203080;
  font-family: Perun;
  font-weight: 400;
  font-style: Regular;
  font-size: 28.09px;
  line-height: 100%;
  letter-spacing: 0%;
}

.text {
  color: #203080;
  width: 220px;
  font-weight: 400;
  font-size: 22px;
  line-height: 24.58px;
  letter-spacing: 1%;
  margin: 0 auto;
}

.small {
  color: #203080;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 20.37px;
  line-height: 10.53px;
  letter-spacing: 1%;
  margin-top: auto;
}